* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1190px;
    margin: auto;
}

.header {
    align-items: center;
    display: flex;
    padding: 10px 0;
}

.auth {
    margin-left: auto;
}

.search-form {
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}

.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 13px 20px;
}

.search-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
}

.login {
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    color: #000;
}

.shopping-cart {
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: rgba(236, 118, 42, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    text-decoration: none;
}

.shopping-counter {
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #ffaf19;
    font-size: 8px;
    line-height: 9px;
    color: #000;
    display: block;
    padding: 5px;
    border-radius: 50%;
}

.slide {
    position: relative;
    border-radius: 20px;
    min-width: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
    overflow: hidden;
}

.text-light {
    /*background-color: grey;*/
    color: #fff;
}

.slide-content {
    max-width: 400px;
    position: relative;
}

.slide-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}

.slide-text {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}

.button-primary {
    background: #f47322;
    color: #fff;
}

.button-default {
    background-color: #fff;
    color: #5f5f61;
}

.button {
    border-radius: 25px;
    padding: 12px 50px;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-style: 14px;
    line-height: 23px;
    cursor: pointer;
}

.slide-summer {
    background-image: url("../img/summer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-autmn {
    background-image: url("../img/autumn.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-health {
    background-image: url("../img/health.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40%.45%, rgba(0, 0, 0, 0) 100%);
}

.promo {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin: -20px;
}

.card {
    flex: 50%;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    max-width: 570px;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}

.card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 200px;
}

.card-price {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 8px;
}

.card-delivery {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 225px;
    margin-bottom: 25px;
}

.card-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 47px;
}

.delivery-week {
    padding: 100px 0;
}

.delivery-cards {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.delivery-card {
    width: 275px;
    height: 182px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 15px;
}

.delivery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delivery-tag {
    position: absolute;
    left: 10px;
    top: 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 5px 10px;
}

.tag-health {
    background: #d0fd89;
    color: #49494f;
}

.tag-vegetables {
    background: #AEBC41;
    color: #fff
}

.tag-meat {
    background: #B86B78;
    color: #fff;
}

.tag-beard {
    background: #D68334;
    color: #fff;
}

.tag-fish {
    background: #CD6255;
    color: #fff;
}

.tag-kind {
    background: #FFFDBF;
    color: #49494f;
}

.tag-parents {
    background: #F6FDC8;
    color: #49494f;
}

.tag-holidays {
    background: #FEF7FE;
    color: #49494f;
}

.section-grey {
    background: #F6F6F6;
}

.category {
    padding-top: 40px;
    padding-bottom: 60px;
}

.tabs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs-link.active {
    color: #F37321;
}

.tabs-link {
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
    text-decoration: none;
    margin-right: 58px;
    margin-bottom: 62px;
}

.tabs-card {
    max-width: 270px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
}

.tabs-image {
    max-width: 100%
}

.tabs-cards {
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
}

.tabs-card-content {
    padding: 20px;
}

.tabs-title {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.tabs-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #b9b9be;
}

.tabs-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs-price {
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    display: block;
    margin-bottom: 5px;
}

.tabs-weigh {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}

.button-outline {
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid #f37321;
    box-sizing: border-box;
    color: #f37321;
    border-radius: 33px;
}

.button-center {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 315px;
}

.footer {
    padding: 40px 0;
    background: #F6F6F6;
}

.footer-wrapper {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 50px;
}

.footer-link {
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    margin-right: 50px;
}

.social-links {
    align-items: center;
    margin-left: auto;
}

.social-link {
    margin-left: 20px;
}

.about-us {
    padding-top: 100px;
}

.about-title {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    color: #000000;
}

.about-as-card {
    border: 1px #E5E5E5;
    max-width: 270px;
    max-height: 296px;
    border-radius: 18px;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
}

.about-description {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #49494F;
}